/* здесь используйте глобальные переменные */
$light-base-color: #ffffff;
$dark-base-color: #000000;
$bg-primary-color: #f2f2f2;
$bg-secondary-color: #eaeaea;
$bg-accent-color: #68b738;
$primary-text-color: #444444;
$secondary-text-color: #222222;
