.catalog {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;

  @media (min-width: 768px) {
    width: 768px;
    column-gap: 60px;
    padding: 0 30px 13px;
  }

  @media (min-width: 1440px) {
    width: 1440px;
    column-gap: 80px;
    padding: 0 110px;
  }
}

.catalog::after {
  @media (max-width: 767px) {
    @include pseudo(100vw, 1px);
    background-color: #ebebeb;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
}
