.contacts {
  position: relative;
}

.contacts--second {
  background-color: $bg-primary-color;
}

.contacts iframe {
  border: none;
  display: block;
  width: 100%;
  height: 362px;

  @media (min-width: 768px) {
    height: 400px;
  }
}

.contacts__location {
  width: 320px;
  padding: 26px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  justify-content: space-between;

  @media (min-width: 768px) {
    width: 768px;
    grid-template-columns: repeat(2, 170px);
    padding: 60px 70px;
  }

  @media (min-width: 1440px) {
    width: 565px;
    padding: 60px 64px 60px 80px;
    position: absolute;
    top: 98px;
    left: calc(50% - 610px);
    background-color: $light-base-color;
  }
}

.contacts__title {
  @include font($secondary-font, 400, 16px, 1.25);
  text-transform: uppercase;
  color: #111111;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1.3;
  }
}

.contacts__address {
  @include font($primary-font, 400, 14px, 1.43);
  color: $primary-text-color;
  margin: 0;

  @media (min-width: 768px) {
    text-align: right;
    font-size: 16px;
    line-height: 1.25;
  }

  @media (min-width: 1440px) {
    text-align: left;
  }
}

.contacts__city {
  @media (min-width: 768px) {
    display: block;
    margin-top: 20px;
  }
}

.contacts__map {
  width: 100%;
  object-fit: cover;
  margin-bottom: -6px;
}
