.developer {
  @include font($primary-font, 400, 16px, 1.25);
  color: $primary-text-color;
  width: 280px;
  padding: 26px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;

  @media (min-width: 768px) {
    width: 161px;
    margin: 0;
  }
}

.developer:hover.developer::after,
.developer:focus.developer::after {
  background-color: $bg-accent-color;
}

.developer:focus {
  outline: none;
}

.developer:active {
  opacity: 0.3;
}

.developer::after {
  @include pseudo(27px, 34px);
  position: absolute;
  left: calc(100% - 27px);
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#logo-htmlacademy");

  @media (min-width: 768px) {
    left: calc(100% - 25px);
  }
}
