.extra-product__title {
  @include font($secondary-font, 400, 24px, 1);
  color: $dark-base-color;
}

.extra-product__card-title {
  @include font($secondary-font, 400, 16px, 1);
  text-transform: uppercase;
  color: $secondary-text-color;
}

.extra-product__card-volume {
  @include font($primary-font, 400, 14px, 1);
  color: $primary-text-color;
}

.extra-product__card-price {
  @include font($primary-font, 400, 14px, 1);
  color: $primary-text-color;
}
