.program__item {
  background-color: $bg-primary-color;
  position: relative;
}

.program__item::before {
  @include pseudo(50px, 50px);
  border-radius: 50%;
  background-color: $bg-accent-color;
}

.program__item--slim::after {
  @include pseudo(36px, 50px);
  @include icon(url("../../icons/stack.svg#black-cat-slim"), 36px 50px);
  position: absolute;
  top: -3px;
  left: 7px;
}

.program__item--pro::after {
  @include pseudo(67px, 28px);
  @include icon(url("../../icons/stack.svg#black-cat-pro"), 67px 28px);
  position: absolute;
  top: 11px;
  left: -9px;
}

.program__title {
  @include font($secondary-font, 400, 24px, 1.54);
  text-transform: uppercase;
}

.program__description {
  @include font($primary-font, 400, 14px, 1.29);
  color: $primary-text-color;
}

.program__link {
  @include font($secondary-font, 400, 16px, 1);
  text-transform: uppercase;
  color: $dark-base-color;
  position: relative;
}

.program__link::after {
  @include pseudo(32px, 10px);
  background-image: url("../../icons/stack.svg#icon-arrow");
  position: absolute;
  top: 30%;
  left: 110%;
}
