.promo {
  width: 280px;
  height: 290px;
  color: $light-base-color;
  background-color: $bg-accent-color;
  background-image: url("../../images/promo/promo-cat-mobile@1x.png");
  background-blend-mode: soft-light;
}

.promo__text {
  @include font($primary-font, 400, 16px, 1.25);
  width: 161px;
  text-align: center;
  position: relative;
}

.promo__text::before {
  @include pseudo(78px, 80px);
  background-color: $light-base-color;
  mask-image: url("../../icons/stack.svg#icon-gift");
  position: absolute;
}

/*
overlay. Режим перекрытия, при котором используется комбинация режимов наложения screen для более светлых пикселей и multiply для тёмных.
soft-light. Режим мягкого света, который придаёт более натуральный эффект, напоминающий сияние рассеянного светового пятна на фоне.
hard-light. Режим жёсткого света, при котором цвета умножаются или осветляются, в зависимости от источника цвета.
darken. Режим затемнения, при котором если пиксели верхнего слоя темнее, чем на нижележащих слоях, они сохраняются в изображении.
difference. Режим сравнения, при котором тёмный цвет вычитается из самого светлого, часто изображение будет иметь очень высокий контраст.
exclusion. Режим исключения, который сравнивает пиксел активного слоя и эквивалентный пиксел нижележащего слоя с учётом их яркости.
hue. Режим цветового тона, который сохраняет оттенок активного слоя и добавляет ему яркость и насыщенность нижележащих слоёв.
saturation. Режим насыщенности, который создаёт цвет с насыщенностью исходного цвета и оттенком и яркостью нижележащего цветового фона.
color. Режим цветности, который создаёт цвет с оттенком и насыщенностью исходного цвета и яркость нижележащего цветового фона.
luminosity. Режим яркости, который создаёт цвет с яркостью исходного цвета и оттенком и насыщенностью нижележащего цветового фона.
*/
