.result {
  background-color: $bg-secondary-color;
}

.result__title {
  @include font($secondary-font, 400, 36px, 1.11);
}

.result__text {
  @include font($primary-font, 400, 14px, 1.29);
  color: $primary-text-color;
}

.result__value {
  @include font($secondary-font, 400, 24px, 1);
}

.result__criteria {
  @include font($primary-font, 400, 12px, 1);
  color: $primary-text-color;
}

.result__costs {
  @include font($secondary-font, 400, 14px, 1.43);
  text-transform: uppercase;
}
